---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Briefcase from '../icons/Studies.astro';
import Code from '../icons/Code.astro';
import Projects from '../components/Projects.astro';
import Hero from '../components/Hero.astro';
import ProfileCheck from '../icons/ProfileCheck.astro';
import AboutMe from '../components/AboutMe.astro'

---

<Layout 
	title="Portfolio de Michi - Desarrollador y Programador Web"
	description='Contrata a Michi para crear tu aplicación web. Desarrollador Web. Especializado en crear aplicaciones únicas'
>
	<main class="px-4">
		<SectionContainer class="py-16 md:pb-36">
			<Hero>
				<slot/>
			</Hero>
		</SectionContainer>
		<div class="space-y-24">
		<SectionContainer id="estudios">
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white">
				<Briefcase class="size-7" />
				Estudios
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white">
				<Code class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white">
				<ProfileCheck class="size-7" />
				Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</div>
	</main>
</Layout>
