---
 const personalImageAlt = "Michi"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy <strong>estudiante de Ingeniería en Sistemas</strong> y desarrollador apasionado por entender cómo funcionan las cosas, desde un componente React en el frontend hasta la gestión de memoria en C. 
    </p>
    <p>
      Me muevo cómodamente en entornos <strong>Linux (Manjaro)</strong> y disfruto tanto construyendo <strong>interfaces web modernas</strong> como resolviendo desafíos de lógica y hardware. Busco aportar esta versatilidad técnica en equipos de desarrollo ágiles.
    </p>
  </div>

  <img width="200" height="200" src="/profile.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>