---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "2025 - Presente",
    title: "Ingeniería en Sistemas Informáticos",
    company: "Universidad Abierta Interamericana",
    description:
      "Formación en algoritmos, estructuras de datos, lógica de programación y arquitectura de computadoras.",
  },
  {
    date: "Abril - Junio 2023",
    title: "Codo a codo 4.0",
    company: "Curso de Especialización en Django",
    description:
      "Durante el curso de Django que me ayudo a aprender a configurar el entorno, crear y gestionar modelos, vistas y plantillas, y desarrollar aplicaciones web robustas y seguras.",
  },
  {
    date: "Junio - Noviembre 2022",
    title: "Codo a Codo 4.0",
    company: "Curso de Especialización en React",
    description:
      "El curso de React que me enseñó a configurar el entorno de desarrollo, crear componentes reutilizables y gestionar el estado de tus aplicaciones.A construir interfaces de usuario interactivas y dinámicas utilizando hooks y context.",
  },
  {
    date: "Junio - Noviembre 2021",
    title: "Codo a Codo 4.0",
    company: "Curso de Python Fullstack",
    description:
      "En Python Full Stack aprendí a desarrollar aplicaciones web completas utilizando Python para el backend y tecnologías modernas como HTML, CSS, y JavaScript para el frontend. Tuve un primer acercamiento con Django y profundicé mis estudios con Django en un curso aparte.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map(experience =>(
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>
      </li>
    ))
  }
</ol>
