---
const personalImageAlt = 'Michi'
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Github from '../icons/Github.astro';
import Mail from '../icons/Mail.astro';
---

<div class="max-x-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://i.pinimg.com/736x/ba/52/f0/ba52f0ce1b056d839880779b41a62b8e.jpg" 
      alt={personalImageAlt}
    />

    <a 
      href="https://www.linkedin.com/in/nahuel-cerrano"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105">
      <Badge>Disponible para ofertas</Badge>
    </a>
  </div>
  
  <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
    Hey, soy Nahuel
  </h1>
  <h2 class="text-xl text-gray-300 [&>strong]:text-yellow-200 [&>strong]:font-semibold">
    <strong>Desarrolador Web y Estudiante de Ciencias de la Computación</strong> 
    de Buenos Aires, Argentina 🇦🇷. Especializado en el desarrollo de aplicaciones web
    únicas.
  </h2>

  <nav class="flex gap-4 mt-8 flex-wrap">
    <SocialPill href="https://www.linkedin.com/in/nahuel-cerrano">
      <LinkedIn class="size-4 md:size-6"/>
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/nahuelcerrano">
      <Github class="size-4 md:size-6"/>
      Github
    </SocialPill>
    <SocialPill href="mailto:nahuelcerrano21@gmail.com">
      <Mail class="size-4 md:size-6"/>
      nahuelcerrano21@gmail.com
    </SocialPill>
  </nav>
</div>